@page "/"
@inject NavigationManager Navegacao

<div class="container-fluid ">
    <div class="row justify-content-center">
        <div class="col-6 col-md-4">
            <img src="urso.png" class="img-fluid" alt="Não foi possível exibir a imagem">

        </div>
        <div class="col-12 col-md-12 col-sm-12">
            <p class="fs-2 text-center fw-bold">Olá,chefe</p>
            <p class="fs-5 text-center">Poderia me dar um aumento?</p>


            <div class="row">
                <div class="col text-center">
                    <button @onclick=respostaSim class="btn btn-success">Sim</button>
                </div>
            </div>



            <br/>

            <div class="row">
                <div class="col text-center">
                    <button @onclick=mudarRespostaNao class="btn @corRespostaNao">@respostaNao</button>
                </div>
            </div>



        </div>
    </div>
</div>



@code{
    public string respostaNao = "Não";
    public string corRespostaNao = "btn-danger";
    public string navegacaoRespostaNao = "#";

    public void mudarRespostaNao(){
        respostaNao = "Sim, com certeza";
        corRespostaNao = "btn-success";
        Navegacao.NavigateTo(navegacaoRespostaNao);
        navegacaoRespostaNao = "/satisfeito";


    }

    public void respostaSim(){
        Navegacao.NavigateTo("/satisfeito");
    }

}